.user-login{}
.user-login .hd{ background-color: #fff;}
.user-login .login-box{ width: 100%; max-width: 400px; margin: 0 auto}
.user-login .login-input{border-radius: 9999px!important;  height: 45px}
.user-login .cxd-TextControl--withAddOn > .cxd-TextControl-button > .cxd-Button{ height: 45px;border-radius: 9999px!important;}
.user-login .login-input .cxd-TextControl-inputPrefix{font-family: 'remixicon' !important;font-size: 18px;font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;opacity: 0.5;margin-right: 0.25rem;}
.user-login .login-input.user .cxd-TextControl-inputPrefix:before{content: '\ea09';}
.user-login .login-input.password .cxd-TextControl-inputPrefix:before{content: '\eece';}
.user-login .login-input.code .cxd-TextControl-inputPrefix:before{content: '\f107';}
.user-login .login-box.reg-box{ padding: 5rem 0}
.top-layout{ color: var(--colors-neutral-fill-4); line-height: 2.25rem; font-size: 14px}
.top-layout a{ color: var(--colors-neutral-fill-4);}
.header{ background-color: var(--colors-neutral-fill-11,#FFFFFF) }
.header .logo{ display: flex; max-width: 10rem; width: 100%}
.header h1{ margin-left: 0.5rem; border-left: 1px solid var(--borderColor); padding-left: 0.5rem; font-size: 1rem}
.header .nav-link{ margin-right: 0.5rem;}
.header .nav-link a{ padding: 0.5rem 1rem; color: var(--text-color);}
.header .nav-link a:hover{ color: var(--link-onHover-color)}
.user-nav{ background-color: transparent; width: 220px; display:flex; min-height:calc(100vh - 200px); margin-top: 0.75rem;}
.user-nav-lt{ background-color: var(--colors-brand-4); min-height: 100%; width: 80px; flex-shrink: 0; padding-top: 0.5rem}
.user-nav-lt .item{ line-height: 50px; height: 50px; display: flex; padding-left: 0.75rem; color: #fff; opacity: 0.7; cursor: pointer;}
.user-nav-lt .item.curr{ background-color: var(--colors-brand-6); opacity: 1}
.user-nav-rt{ background-color: #fff; flex: 1; padding-top: 0.5rem }
.user-nav-rt .menu-item-sub{ font-weight:bold; line-height:2.5rem; padding-left: 1rem; position:relative;}
.user-nav-rt .menu-item-sub:after{ width: 0.8rem; height: 0.8rem; background-color: var(--colors-brand-4); position: absolute; content: ''; left: 0; top: 0.85rem; border-radius: 100%;}
.user-nav-rt .menu-item-sub:before{ width: 0.4rem; height: 0.4rem; background-color: #fff; position: absolute; content: ''; left: 0.2rem; top: 1.05rem; border-radius: 100%; z-index:1}
.user-nav-rt .menu-item{ padding-left: 1rem; line-height:2.5rem;  cursor: pointer; }
.user-nav-rt .menu-item.curr{ color: var(--colors-brand-4);}
.user-nav-rt .sub-menu{ padding-left:0.5rem}
.user-nav .user-nav-back{ display: none}

@media (max-width: 768px){
    .user-nav{background-color: var(--colors-neutral-fill-10);position: fixed;top: 0;height: 100%;left: 0;z-index: 999;bottom: 0;transition:all 0.2s}
    .user-nav.is-close-nav,.user-nav.is-close-nav .user-nav-lt{width: 0}

    .user-nav .user-nav-back{display: block; position: absolute; left: 220px; height: 40px; bottom: 0;text-align: center; top: 50%; font-size: 1.5rem;background-color: var(--colors-neutral-fill-10)}
    .user-nav.is-close-nav .user-nav-back{ left: 0}
    .user-nav .user-nav-back{transform-origin: center;transition: transform 0.7s ease;}
    .user-nav.is-close-nav .user-nav-back{transform: rotate(180deg);}
}

.wrap{ width: 1280px; margin: 0 auto}
@media (max-width: 1280px){
    .must.m\:hidden{ display: none;}
    .m\:wrap{width: 100%;padding-left: 0.5rem; padding-right: 0.5rem}
}
.amis-scope .cxd-Table-fixedTop{ background-color: transparent;}
.amis-scope .cxd-AsideNav-itemArrow:empty:before{content: "\f054";}
.amis-scope .cxd-Cards-fixedTop{background-color: transparent;}
.goods-thumb{}
.goods-thumb img{ width:4rem; height:4rem; object-fit:contain }

.unit-price .yuan { font-size: 0.75rem; font-family: Verdana, Tahoma; }
.unit-price .integer, 
.unit-price .pointer { font-weight: 700; font-family: Verdana, Tahoma; }
.unit-price .decimal { font-size: 0.75rem; font-weight: 700 }
.unit-price .percent { font-size: 0.75rem; }
.unit-price-14 .integer { font-size: 0.875rem }
.unit-price-16 .integer { font-size: 1rem }
.unit-price-18 .integer { font-size: 1.125rem }
.unit-price-20 .integer { font-size: 1.25rem }
.unit-price-20 .yuan,
.unit-price-20 .pointer,
.unit-price-20 .decimal { font-size: 1rem }
.unit-price-24 .integer { font-size: 1.5rem }
.unit-price-28 .integer { font-size: 1.75rem }
.unit-price-32 .integer { font-size: 2rem }
.unit-price-32 .decimal, 
.unit-price-32 .percent { font-size: 1rem }
.unit-price-36 .integer { font-size: 2.25rem }
.unit-price-48 .integer { font-size: 3rem }
.unit-price-48 .yuan { font-size: 1.5rem; font-weight: 500 }
.unit-price-60 .integer { font-size: 3.75rem;}
.unit-price-60 .yuan { font-size: 1.5rem }
.unit-price-thin .yuan, 
.unit-price-thin .decimal, 
.unit-price-thin .integer,
.unit-price-thin .pointer { font-weight: 400 }
.unit-price-through { text-decoration: line-through; color: #AAA;}
.cursor-pointer{cursor: pointer;}
a.text-default{ color:var(--text-color)}